<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="winkhouse.export.PluginPoint" name="WinkhousePluginPoint" schema="schema/winkhouse.export.WinkhousePluginPoint.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="winkhouse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="winkhouse.perspective.DesktopPerspective"
            fixed="true"
            icon="icons/desktop.png"
            id="winkhouse.desktop"
            name="Scrivania">
      </perspective>                   
      <perspective
            name="Dati di base"
            class="winkhouse.perspective.DatiBasePerspective"
            id="winkhouse.datibase"
            icon="icons/db20.png">
      </perspective>
      <perspective
            name="Immobili"
            class="winkhouse.perspective.ImmobiliPerspective"
            id="winkhouse.immobili"
            icon="icons/gohome.png">
      </perspective>
      <perspective
            name="Anagrafiche"
            class="winkhouse.perspective.AnagrafichePerspective"
            id="winkhouse.anagrafica"
            icon="icons/anagrafiche16.png">
      </perspective>
      <perspective
            name="Colloqui"
            class="winkhouse.perspective.ColloquiPerspective"
            id="winkhouse.colloqui"
            icon="icons/colloqui16x16.png">
      </perspective>
      <perspective
            name="Report"
            class="winkhouse.perspective.ReportPerspective"
            id="winkhouse.report"
            icon="icons/kontact_news16.png">
      </perspective>
      <perspective
            name="Agenda"
            class="winkhouse.perspective.AgendaPerspective"
            id="winkhouse.agenda"
            icon="icons/korgac16.png">
      </perspective>
      <perspective
            name="Affitti"
            class="winkhouse.perspective.AffittiPerspective"
            id="winkhouse.affitti"
            icon="icons/affitti.png">
      </perspective>
      <perspective
            name="Permessi"
            class="winkhouse.perspective.PermessiPerspective"
            id="winkhouse.permessi"
            icon="icons/lock.png">
      </perspective>
      <perspective
            name="Console DB"
            class="winkhouse.perspective.DBMonitorPerspective"
            id="winkhouse.dbmonitor"
            icon="icons/dbmonitor.png">
      </perspective>          
      <perspective
            name="WinkCloud"
            class="winkhouse.perspective.CloudPerspective"
            id="winkhouse.winkcloud"
            icon="icons/adept_updater.png">
      </perspective>          
                
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="DatiBase"
            allowMultiple="false"
            icon="icons/sample2.gif"
            class="winkhouse.view.datibase.DatiBaseView"
            id="winkhouse.datibaseview">
      </view>
      <view
            name="Colloqui"
            allowMultiple="false"
            icon="icons/colloqui.png"
            class="winkhouse.view.common.ColloquiView"
            id="winkhouse.colloquiview">
      </view>
      <view
            name="Dettaglio immobile"
            allowMultiple="true"
            icon="icons/immobile.png"
            class="winkhouse.view.immobili.DettaglioImmobileView"
            id="winkhouse.dettaglioimmobileview">
      </view>
      <view
            name="Immagni immobile"
            allowMultiple="false"
            icon="icons/immagini.png"
            class="winkhouse.view.immobili.ImmaginiImmobiliView"
            id="winkhouse.immaginiimmobiliview">
      </view>
      <view
            name="Lista immobili"
            allowMultiple="false"
            icon="icons/immobile.png"
            class="winkhouse.view.immobili.ImmobiliTreeView"
            id="winkhouse.immobilitreeview">
      </view>
      <view
            name="Recapiti"
            allowMultiple="false"
            icon="icons/recapiti.png"
            class="winkhouse.view.common.RecapitiView"
            id="winkhouse.recapitiview">
      </view>
      <view
            name="Lista anagrafiche"
            allowMultiple="false"
            icon="icons/anagrafiche.png"
            class="winkhouse.view.anagrafica.AnagraficaTreeView"
            id="winkhouse.anagrafichetreeview">
      </view>
      <view
            name="Dettaglio anagrafica"
            allowMultiple="true"
            icon="icons/anagrafica.png"
            class="winkhouse.view.anagrafica.DettaglioAnagraficaView"
            id="winkhouse.dettaglioanagraficaview">
      </view>
      <view
            name="Lista Colloqui"
            allowMultiple="false"
            icon="icons/colloqui.png"
            class="winkhouse.view.colloqui.ColloquiTreeView"
            id="winkhouse.colloquitreeview">
      </view>      
      <view
            name="Dettaglio colloquio"
            allowMultiple="true"
            icon="icons/colloqui.png"
            class="winkhouse.view.colloqui.DettaglioColloquioView"
            id="winkhouse.dettagliocolloquioview">
      </view>      
      <view
            name="Dettaglio report"
            allowMultiple="true"
            icon="icons/kontact_news.png"
            class="winkhouse.view.report.DettaglioReportView"
            id="winkhouse.dettaglioreport">
      </view>      
      <view
            name="Lista report"
            allowMultiple="false"
            icon="icons/kontact_news.png"
            class="winkhouse.view.report.ReportTreeView"
            id="winkhouse.reporttreeview">
      </view>      
      <view
            name="Lista appuntamenti"
            allowMultiple="false"
            icon="icons/korgac.png"
            class="winkhouse.view.agenda.ListaAppuntamentiView"
            id="winkhouse.listaappuntamentiview">
      </view>
      <view
            name="Calendario appuntamenti"
            allowMultiple="false"
            icon="icons/calendario.png"
            class="winkhouse.view.agenda.CalendarioView"
            id="winkhouse.calendarioview">
      </view>      
      <view
            name="Dettaglio appuntamento"
            allowMultiple="true"
            icon="icons/korgac.png"
            class="winkhouse.view.agenda.DettaglioAppuntamentoView"
            id="winkhouse.dettaglioappuntamentoview">
      </view>      
      <view
            name="Abbinamenti"
            allowMultiple="false"
            icon="icons/anagraficheabbinate.png"
            class="winkhouse.view.common.AbbinamentiView"
            id="winkhouse.anagraficheabbinateview">
      </view>      
      <view
            name="Immobili propieta"
            allowMultiple="false"
            icon="icons/immobile.png"
            class="winkhouse.view.anagrafica.ImmobiliPropietaView"            
            id="winkhouse.immobilipropietaview">
      </view>      
      <view
            name="Lista affitti"
            allowMultiple="false"
            icon="icons/affitti.png"
            class="winkhouse.view.affitti.ListaAffittiView"            
            id="winkhouse.listaaffittiview">
      </view>      
      <view
            name="Dettaglio affitto"
            allowMultiple="true"
            icon="icons/affitti20.png"
            class="winkhouse.view.affitti.DettaglioAffittiView"            
            id="winkhouse.dettaglioaffittiview">
      </view>      
      <view
            name="Campi personali"
            allowMultiple="false"
            icon="icons/campi_personali20.png"
            class="winkhouse.view.common.EAVView"
            id="winkhouse.eavview">
      </view>
      <view
            name="Mappa"
            allowMultiple="false"
            icon="icons/www.png"
            class="winkhouse.view.common.MapView"
            id="winkhouse.mapview">
      </view>            
      <view
            name="Agenti"
            allowMultiple="false"
            icon="icons/looknfeel.png"
            class="winkhouse.view.permessi.AgentiView"
            id="winkhouse.agentiview">
      </view>            
      <view
            name="Dettaglio Permessi Agente"
            allowMultiple="true"
            icon="icons/lock16.png"
            class="winkhouse.view.permessi.DettaglioPermessiAgenteView"
            id="winkhouse.dettagliopermessiagente">
      </view>            
      <view            
            name="Scrivania"
            allowMultiple="false"
            icon="icons/desktop.png"
            class="winkhouse.view.desktop.DesktopView"
            id="winkhouse.desktopview">            
      </view>            
      <view
            name="Anagrafiche propietarie"
            allowMultiple="false"
            icon="icons/anagrafica.png"
            class="winkhouse.view.immobili.AnagrafichePropietarieView"            
            id="winkhouse.anagrafichepropietarieview">
      </view>      
      <view
            name="DB Monitor"
            allowMultiple="false"
            icon="icons/dbmonitor16.png"
            class="winkhouse.view.db.DBMonitorView"            
            id="winkhouse.dbmonitorview">
      </view>      
      <view
            name="Cloud Monitors"
            allowMultiple="false"
            icon="icons/package_monitor.png"
            class="winkhouse.view.winkcloud.MonitorsTreeView"            
            id="winkhouse.monitorstreeview">
      </view>      
      <view
            name="Richieste"
            allowMultiple="false"
            icon="icons/find.png"
            class="winkhouse.view.winkcloud.QueryFilesView"            
            id="winkhouse.queryfiles">
      </view>      
      <view
            name="Risultati"
            allowMultiple="false"
            icon="icons/view_text.png"
            class="winkhouse.view.winkcloud.ResultsView"            
            id="winkhouse.queryresults">
      </view>      
           
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="winkhouse.application"
            name="winkhouse">
         <property
               name="appName"
               value="winkhouse">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="windowImages"
               value="icons/icowin/home16.png,icons/icowin/home32.png,icons/icowin/home48.png,icons/icowin/home64.png,icons/icowin/home128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/winkhouse/winkhouse.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>